.result {
    text-align: right;
    h1 {
        font-size: 3em;
        font-style: italic;
        text-align: center;
        display: inline-block;
        color: white;
        margin: 0;
        width: 150px;
        min-height: 1em;
    }
}