.result {
  text-align: right; }
  .result h1 {
    font-size: 3em;
    font-style: italic;
    text-align: center;
    display: inline-block;
    color: white;
    margin: 0;
    min-width: 200px;
    min-height: 1em;
    padding: 0 20px; }
